<!DOCTYPE html>

<html ng-app="myApp">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <title>MyApp</title>
        <!-- below are elements copied automatically using file_include.py script -->
<!-- this file contains sections included during build into html head of test and static html page" -->

<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/angular-route/angular-route.min.js"></script>
<script src="bower_components/angular-resource/angular-resource.min.js"></script>
<script src="bower_components/angular-translate/angular-translate.min.js"></script>
<script src="bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.min.js"></script>

<script type="text/javascript" src="js/version.js" data-cover></script>
<script type="text/javascript" src="js/app.js" data-cover></script>
<script type="text/javascript" src="js/services.js" data-cover></script>
<script type="text/javascript" src="js/controllers.js" data-cover></script>


<!--BOOTSTRAP FRAMEWORK-->


<script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="bower_components/bootstrap/dist/js/npm.js"></script>

<link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.css"/>
<link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css" />
<!--END OF BOOTSTRAP FRAMEWORK-->

<link rel="stylesheet" type="text/css" href="css/styles.css" />


        <!-- above are elements copied automatically using file_include.py script -->
    </head>

    <body>
        <!-- below are elements copied automatically using file_include.py script -->
<!-- this file contains sections included during build into html body of test and static html page" -->

<!--  BASIC NAVBAR FOR THE MAIN TOP PAGE STYLED WITH BOOTSTRAP -->





<div class="container" ng-controller="settingsController">
  <ul id="icons_ul">
	<li ng-repeat="lang in langs">
	  <a id="a_lang_{{lang}}" ng-click="changeLanguage(lang)"><img ng-src="pict/{{lang}}.png" /></a>
	</li>
  </ul>
</div>
<nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#login">Draughtz</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#login">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#play">play</a></li>
          </ul>
          
        </div>
      </div>
    </nav>

<div id="content" class="container" ng-view>
</div>

<!--  end navigation bar -->
        <!-- above are elements copied automatically using file_include.py script -->
    </body>
</html>
