<!-- this file contains sections included during build into html body of test and static html page" -->

<!--  BASIC NAVBAR FOR THE MAIN TOP PAGE STYLED WITH BOOTSTRAP -->





<div class="container" ng-controller="settingsController">
  <ul id="icons_ul">
	<li ng-repeat="lang in langs">
	  <a id="a_lang_{{lang}}" ng-click="changeLanguage(lang)"><img ng-src="pict/{{lang}}.png" /></a>
	</li>
  </ul>
</div>
<nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#login">Draughtz</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#login">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#play">play</a></li>
          </ul>
          
        </div>
      </div>
    </nav>

<div id="content" class="container" ng-view>
</div>

<!--  end navigation bar -->
