<!-- this file contains sections included during build into html head of test and static html page" -->

<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/angular-route/angular-route.min.js"></script>
<script src="bower_components/angular-resource/angular-resource.min.js"></script>
<script src="bower_components/angular-translate/angular-translate.min.js"></script>
<script src="bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.min.js"></script>

<script type="text/javascript" src="js/version.js" data-cover></script>
<script type="text/javascript" src="js/app.js" data-cover></script>
<script type="text/javascript" src="js/services.js" data-cover></script>
<script type="text/javascript" src="js/controllers.js" data-cover></script>


<!--BOOTSTRAP FRAMEWORK-->


<script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="bower_components/bootstrap/dist/js/npm.js"></script>

<link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.css"/>
<link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css" />
<!--END OF BOOTSTRAP FRAMEWORK-->

<link rel="stylesheet" type="text/css" href="css/styles.css" />


